<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Developers</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/dev.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <header>
        <div class="logo">EnrollPredict.ai</div>
        <nav>
            <ul>
                
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('chat_page') }}">Chat</a></li>
                <li><a href="{{ url_for('developers_page') }}">Developers</a></li>
                <li><a href="{{ url_for('about_page') }}">About</a></li>
            </ul>
        </nav>
        <div class="github-icon">
            <a href="https://github.com" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        
    </header>
    <div class="container">
        <h1>Meet Our Developers</h1>
        <div class="developer">
            <img src="{{ url_for('static', path='images/benjamin.jpg') }}" alt="Developer 1">
            <div class="info">
                <h2>Benjamin Ngulube</h2>
                <i>Executive Director & Software Developer</i>
            </div>
            <a href="https://www.linkedin.com/in/benjamin-ngulube-6143bb20a/" target="_blank">
                <i class="fab fa-linkedin linkedin-icon"></i>
            </a>
            
        </div>
        <div class="developer">
            <img src="{{ url_for('static', path='images/gilbert.jpg') }}" alt="Developer 2">
            <div class="info">
                <h2>Gilbert Ng'andu</h2>
                <i>CTO & Software Developer</i>
            </div>
            <a href="https://www.linkedin.com/in/gilbert-ng%E2%80%99andu-22a5b3161/" target="_blank">
                <i class="fab fa-linkedin linkedin-icon"></i>
            </a>
            
        </div>
        <div class="developer">
            <img src="{{ url_for('static', path='images/lighton.png') }}" alt="Developer 3">
            <div class="info">
                <h2>Lighton Kalumba</h2>
                <i>Data Scientist</i>
            </div>
            <a href="https://www.linkedin.com/in/lighton-n-kalumba-a81183244/" target="_blank">
                <i class="fab fa-linkedin linkedin-icon"></i>
            </a>
            
        </div>
        <div class="developer">
            <img src="{{ url_for('static', path='images/kuu.jpg') }}" alt="Developer 4">
            <div class="info">
                <h2>Kuunda Simuchimba</h2>
                <i>Software Engineer</i>
            </div>
            <a href="https://www.linkedin.com/in/kuunda-simuchimba-16b308242/" target="_blank">
                <i class="fab fa-linkedin linkedin-icon"></i>
            </a>
            
        </div>
    </div>
    <footer>
        <p>&copy; 2025 TikulaTech Foundation. All Rights Reserved</p>
    </footer>
</body>
</html>
